{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-4">

                <div class="row justify-content-center text-secondary mt-4">
                    {% if 'students' in l_as_list %}
                        <span class="font-italic"> Choose any of the courses listed below to enroll for a course.</span>
                    {% elif 'tutors' in l_as_list %}
                        <span class="font-italic"> Choose any of the courses listed below to apply for appointment as a tutor for a course.</span>
                    {% else %}
                        <span class="font-italic"> Choose any of the courses listed below to enroll for a course.</span>
                    {% endif %}
                </div>


                <div class="card mt-3">
                    <div class="card-body">
                        {% for course in courses %}
                            <h3>{{ course.course_title }}</h3>
                            <p>{{ course.course_description }}</p>
                            <div class="btn-group float-right">
                                {% if 'students' in l_as_list %}
                                    <a href="{% url 'initiate_enrollment' course.id %}" class="btn btn-outline-success btn-sm">Enroll</a>
                                {% elif 'tutors' in l_as_list %}
                                    <a href="{% url 'initiate_appointment' course.id %}" class="btn btn-outline-success btn-sm">Appoint</a>
                                {% else %}
                                    <a href="{% url 'initiate_enrollment' course.id %}" class="btn btn-outline-success btn-sm">Enroll</a>
                                {% endif %}
                            </div><br>
                            <div>
                                <hr>
                            </div>
                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}