{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 mt-4">

                <div class="row justify-content-center text-secondary mt-4">
                    {% if 'students' in l_as_list %}
                        <span class="font-italic"> Choose any of the courses listed below to enroll for a course.</span>
                    {% elif 'tutors' in l_as_list %}
                        <span class="font-italic"> Choose any of the courses listed below to apply for appointment as a tutor for a course.</span>
                    {% else %}
                        <span class="font-italic"> Choose any of the courses listed below to enroll for a course.</span>
                    {% endif %}
                </div>


                <div class="card mt-3">
                    <div class="card-body">
                        {% for course in courses %}
                            <h3>{{ course.course_title }}</h3>
                            <p>{{ course.course_description }}</p>
                            <div class="btn-group float-right">
                                {% if 'students' in l_as_list %}
                                    <a href="{% url 'initiate_enrollment' course.id %}" class="btn btn-outline-success btn-sm">Enroll</a>
                                {% elif 'tutors' in l_as_list %}
                                    <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#apply{{ course.id }}">Apply</a>


                                    <!--Modal for Tutor Application-->
                                    <div class="modal fade" id="apply{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Submit Application</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" action="{% url 'tutor_application' course.id %}" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="message-text" class="col-form-label">Qualifications:</label>
                                                            <textarea
                                                                    class="form-control" id="qualifications"
                                                                    placeholder="Write a summary of your qualification ans experience..."
                                                                    name="qualifications"
                                                            ></textarea>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="file_upload" class="col-form-label">Upload CV</label>
                                                            <input type="file" class="form-row" id="file_upload" name="file_upload">
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Apply</button>
                                                        </div>

                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                 <!--End of Modal-->

                                {% elif 'admin' in l_as_list %}

                                {% else %}
                                    <a href="{% url 'initiate_enrollment' course.id %}" class="btn btn-outline-success btn-sm">Enroll</a>
                                {% endif %}
                            </div><br>
                            <div>
                                <hr>
                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

    </div>



{% endblock %}