{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card border-0">

                    <div class="card-body">

                        <div class="row justify-content-center mt-3 mb-3">
                            <h1 class="font-weight-light text-center">
                                Create Assessment
                            </h1>
                        </div>

                        <div class="row font-weight-light mt-2 mb-3">
                            <p style="font-size: 12pt;" class="text-center">All fields are expected to be filled correctly. This assessment by default will be hidden
                            from students who enrolled for it. By ticking this box, you are activating the assessment
                                to be seen by the students enrolled for its course.
                            </p>
                        </div>

                        <div class="row">
                            <form method="post" action="{% url 'create_assessment' %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <input name="assessment_title" class="form-control" id="assessment_title" placeholder="Assessment Title" required>
                                <p id="assessment_title_validate" style="color: red; font-size: 10pt;" >
                                    **The above field is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <textarea name="assessment_content" class="form-control" id="assessment_content" placeholder="Assessment Desctiption" required></textarea>
                                <p id="assessment_content_validate" style="color: red; font-size: 10pt;" >
                                    **The above field is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <select name="course_id" class="form-control" id="course_id" required>
                                    <option value="" class="form-control" selected disabled>--Select Course--</option>
                                    {% for course in course_list %}
                                        <option value="{{ course.course_id }}" class="form-control">{{ course.course_title }}</option>
                                    {% endfor %}
                                </select>
                                <p id="course_id_validate" style="color: red; font-size: 10pt;" >
                                    **The above field is missing
                                </p>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-4">
                                    <label for="pass_mark" class="form-check-label">Pass Mark</label>
                                    <input name="pass_mark" class="form-control" id="pass_mark" required>
                                    <p id="pass_mark_validate" style="color: red; font-size: 10pt;" >
                                        **The above field is missing
                                    </p>
                                </div>

                                <div class="form-group col-4">
                                    <label for="assessment_due_date" class="form-check-label">Date Due</label>
                                    <input name="assessment_due_date" class="form-control" id="assessment_due_date" type="date" required>
                                    <p id="assessment_due_date_validate" style="color: red; font-size: 10pt;" >
                                        **The above field is missing
                                    </p>
                                </div>

                                <div class="form-group col-4">
                                    <label for="assessment_due_time" class="form-check-label">Time Due</label>
                                    <input name="assessment_due_time" class="form-control" id="assessment_due_time" type="time" required>
                                    <p id="assessment_due_time_validate" style="color: red; font-size: 10pt;" >
                                        **The above field is missing
                                    </p>
                                </div>

                            </div>

{#                            <div class="form-row px-3">#}
{#                                <div class="">#}
{#                                    <input type="checkbox" class="" id="status" name="status" {% if checked %}value=1{% else %}value=0{% endif %}>#}
{#                                    <small class="font-italic">Activate Assessment (All enrolled student will see#}
{#                                        this assessment) </small>#}
{#                                </div>#}
{##}
{##}
{#                            </div>#}

                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-success btn-md float-right">Submit</button>
                            </div>

                        </form></div>
                        <div class="row"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}