{% extends 'dashbase.html' %}
{% block content %}
    <div class="container-fluid mb-3">
        <a href="{% url "create_assessment" %}" class="btn btn-outline-success float-right" data-target="#" data-toggle="#">
                            Create Assessment</a>
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <div class="card-title font-weight-bolder">
                        List of all Assessments
                        <i onclick="assessment_listing()" class="material-icons float-right refresh_button" >refresh</i>
                    </div>
                    <div class="card-category">This are list for all assessments.
                        The refresh button updates the list of assessments.</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-success text-center">
                                <tr>
                                    <th>S/N</th>
                                    <th>Title</th>
                                    <th>Courses</th>
                                    <th>Due Date</th>
                                    <th>Time Due</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="assessment_list_body" class="text-center">

                            </tbody>
{#                            {% if 'tutors' in l_as_list or 'admin' in l_as_list %}#}
{#                                <div class="btn-group">#}
{#                                    <a href="{% url 'set_question' assessment.id %}" class="btn btn-outline-secondary btn-sm">Set Questions</a>#}
{#                                </div>#}
{#    #}
{#                                <div class="btn-group">#}
{#                                    <a href="{% url 'update_assessment' assessment.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>#}
{#                                </div>#}
{#    #}
{#                                <div class="btn-group">#}
{#                                    <a href="{% url 'assessment_details' assessment.id %}" class="btn btn-outline-dark btn-sm">Details</a>#}
{#                                </div>#}
{#    #}
{#                                <div class="btn-group">#}
{#                                    <a href="{% url 'delete_assessment' assessment.id %}" class="btn btn-outline-danger btn-sm">Delete</a>#}
{#                                </div>#}
{#                            {% else %}#}
{#                                <div class="btn-group">#}
{#                                    <a href="{% url 'new_sitting' assessment.id %}" class="btn btn-outline-secondary btn-sm">Solve</a>#}
{#                                </div>#}
{#                            {% endif %}#}
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}