{% extends 'dashbase.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <div class="card-title font-weight-bolder">
                        List of all Students
                        <i onclick="student_listing()" class="material-icons float-right refresh_button" >refresh</i>
                    </div>
                    <div class="card-category">This are list for all students.
                        The refresh button updates all students who newly join.</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-success text-center">
                                <tr>
                                    <th>S/N</th>
                                    <th>Full-name</th>
                                    <th>Email</th>
                                    <th>Reg No</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="student_list_body" class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}