{% extends 'base.html' %}
{% block content %}

    <section class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show">
                    <strong>
                        Successfully Submitted!
                    </strong>
                    <br>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endfor %}
        {% endif %}
    </section>

    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-success">
                            {% if 'students' in l_as_list %}
                            <h3 class="text-light">Welcome @{{ student.username }}
                                <a href="{% url 'edit_student' student.id %}"
                                   style="font-size: 14pt"
                                   class="float-right text-light form-text " >
                                    {% load static %}<img class="d-block w-100" src="{% static "img/002-pencil.png" %}" alt="Edit"></a> </h3>
                            {% else %}
                                <h5 class="text-light text-uppercase"> Student -- {{ student.first_name }} {{ student.last_name }}</h5>
                            {% endif %}
                        </div>
                        <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-4 " style="font-size: 16pt">
                                        <label for="first_name" style="font-size: 14pt"
                                               class="form-check-label font-weight-bolder text-uppercase text-success">First Name: </label><br>
                                        <span class="font-italic ml-1">{{ student.first_name }}</span>
                                    </div>

                                    <div class="form-group col-4 " style="font-size: 16pt">
                                        <label for="first_name" style="font-size: 14pt"
                                               class="form-check-label font-weight-bolder text-uppercase text-success">Last Name: </label><br>
                                        <span class="font-italic ml-1">{{ student.last_name }}</span>
                                    </div>

                                    <div class="form-group col-4 " style="font-size: 16pt">
                                        <label for="first_name" style="font-size: 14pt"
                                               class="form-check-label font-weight-bolder text-uppercase text-success">Username: </label><br>
                                        <span class="font-italic ml-1">@{{ student.username }}</span>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="form-group col-4 " style="font-size: 16pt">
                                        <label for="" style="font-size: 14pt"
                                               class="form-check-label font-weight-bolder text-uppercase text-success">Registration Number: </label><br>
                                        <span class="font-italic ml-1">{{ student.registration_number }}</span>
                                    </div>

                                    <div class="form-group col-4 " style="font-size: 16pt">
                                        <label for="" style="font-size: 14pt"
                                               class="form-check-label font-weight-bolder text-uppercase text-success">Email: </label><br>
                                        <span class="font-italic ml-1">{{ student.email }}</span>
                                    </div>

                                    <div class="form-group col-4 " style="font-size: 16pt">
                                        <label for="" style="font-size: 14pt"
                                               class="form-check-label font-weight-bolder text-uppercase text-success">Phone: </label><br>
                                        <span class="font-italic ml-1">+234{{ student.phone }}</span>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#   Student Courses #}

    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <h3 class="text-light">Student Courses <span
                                    class="badge badge-light text-dark font-weight-bolder float-right"
                                    style="font-size: 18pt">{{ enrollment_len }}</span> <a href="{% url 'list_courses' %}" class=" text-success">+</a> </h3>
                        </div>

                        <div class="card-body shadow">
                            <div class="row">

                                {% if enrollment_len > 0 %}
                                    {% for enrollment in enrollments %}
                                        <div class="form-group col-3 " style="font-size: 16pt">
                                            <label for="" style="font-size: 14pt"
                                                   class="form-check-label font-weight-bolder text-uppercase text-dark">{{ enrollment.course_title }}</label><br>
                                            <span class="text-secondary " style="font-size: 14pt">Enrolled <b class="text-dark">{{ enrollment.date_enrolled }}</b></span><br>
                                            <span class="text-danger" data-toggle="modal" data-target="#unenroll{{ enrollment.id }}" style="font-size: 12pt"><a href="#">Un-enroll</a></span>
                                        </div>


                                        <!--Confirmation Modal-->
                                        <div class="modal fade" id="unenroll{{ enrollment.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Un-enroll from {{ enrollment.course_title }}?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        When you un-enroll from this course <br> you will lose all assessment taken by you.<br>
                                                        Do you still want to continue with the process?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="btn">
                                                            <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                                                        </div>
                                                        <div class="btn">
                                                            <a href="{% url 'unenroll' enrollment.id %}" class="btn btn-danger">Un-enroll</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    {% endfor %}
                                {% else %}
                                        <div class="form-group col-6 " style="font-size: 16pt">
                                            <span class="font-italic text-secondary">You are not enrolled for a course yet!</span><br>
                                            <a href="{% url 'list_courses' %}" ><span class="font-italic ml-1">Enroll Now</span></a>
                                        </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{# Student Assessments#}
    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-success">
                            <h3 class="text-light">Student Assessments
                                <span class="badge badge-light text-success font-weight-bolder float-right"
                                      style="font-size: 18pt">{{ assessment_len }}</span></h3>
                        </div>
                        <div class="card-body shadow">
                            <div class="row">

                                {% if assessment_len > 0 %}
                                    {% for assessment in assessments %}
                                            <div class="form-group col-3 " style="font-size: 16pt">
                                                <label for="first_name" style="font-size: 14pt"
                                                       class="form-check-label font-weight-bolder text-uppercase text-dark">{{ assessment.course_title }}</label><br>
                                                <span class="text-secondary">{{ assessment.assessment_title }}</span><br>
                                                <span class="font-italic text-dark" style="font-size: 12pt">Due: {{ assessment.date_due }} {{ assessment.time_due }}</span><br>
                                                {% if assessment.id in sitting_list %}
                                                    <span class="text-dark" style="font-size: 12pt"><span class="text-secondary">Test Taken</span> | <a href="{% url 'assessment_details' assessment.id %}">Details</a></span>
                                                {% elif not assessment.id in sitting_list and assessment.status != 0 %}
                                                    <span class="text-dark" style="font-size: 12pt"><a href="{% url 'new_sitting' assessment.id %}">Take Test</a> | <a href="{% url 'assessment_details' assessment.id %}">Details</a></span>
                                                {% elif not assessment.id in sitting_list and assessment.status == 0 %}
                                                    <span class="text-dark" style="font-size: 12pt"><span class="text-danger">Not Available Yet</span> | <a href="{% url 'assessment_details' assessment.id %}">Details</a></span>
                                                {% endif %}
                                            </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group col-6 " style="font-size: 16pt">
                                        <span class="font-italic text-secondary">No assessment has been set for your course yet!</span><br>
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <section>
        <div class="container mt-3 mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <h3 class="text-light">Assessments Taken
{#                                {% if sitting_len == assessment_len %}#}
{#                                {% elif sitting_len != assessment_len and assessment_status_len %}#}
{#                                {% else %}#}
{#                                    <span class="font-weight-bold ml-5 text-dark badge-light badge-pill p-2" style="font-size: 10pt" > ** You have a pending assessment to attend to!</span>#}
{#                                {% endif %}#}
                                <span class="badge badge-light text-dark font-weight-bolder float-right"
                                      style="font-size: 18pt">{{ sitting_len }}</span></h3>
                        </div>
                        <div class="card-body shadow">
                            <div class="row">

                                {% if sitting_len > 0 %}
                                    {% for sitting in sittings %}
                                        {% for assessment in assessments %}
                                            {% if sitting.assessment_id == assessment.id %}
                                                <div class="form-group col-sm-4 " style="font-size: 16pt">
                                                    <label for="first_name" style="font-size: 14pt"
                                                           class="form-check-label font-weight-bolder text-uppercase text-dark">{{ assessment.course_title }}</label><br>
                                                    <span class="text-secondary">{{ assessment.assessment_title }} </span><br>
                                                    <span class="font-italic text-dark" style="font-size: 12pt">Due: {{ assessment.date_due }} {{ assessment.time_due }}</span><br>
                                                    <span class="font-italic text-dark" style="font-size: 12pt">Submitted: {{ sitting.date_submitted }} {{ sitting.time_submitted }}</span><br>
                                                    <span class="font-italic text-dark" style="font-size: 12pt"><a href="{% url 'sitting_details' sitting.id %}">View Details</a></span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group col-6 " style="font-size: 16pt">
                                        <span class="font-italic text-secondary">You have no taken any assessment yet!</span><br>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

{% endblock %}