{% extends 'dashbase.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">announcement</i>
                        </div>

                        <p class="card-category">Pending...</p>
                        <h3 class="card-title">{{ pending }}</h3>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="{% url 'todo_list' %}" class="text-danger">Get them Done...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">turned_in</i>
                        </div>

                        <p class="card-category">Submitted</p>
                        <h3 class="card-title">{{ sitting_len }}</h3>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">check_circle</i>
                            <a href="{% url 'todo_list' %}" class="text-dark">View Submissions</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">class</i>
                        </div>

                        <p class="card-category">Courses</p>
                        <h3 class="card-title">{{ enrollment_len }}</h3>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">dashboard_customize</i>
                            <a href="{% url 'list_courses' %}" class="text-dark"> Add more...</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">library_books</i>
                        </div>

                        <p class="card-category">Assessments</p>
                        <h3 class="card-title">{{ assessment_len }}</h3>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-primary">stream</i>
                            <a href="{% url 'student_assessments' %}" class="text-dark">View Assessment</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row ">
            <div class="col-lg-6 col-md-12">

                <div class="card">
                    <div class="card-header card-header-tabs card-header-success">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active show" href="#pending" data-toggle="tab">
                                            <i class="material-icons">pending</i> Pending
                                            <div class="ripple-container"></div>
                                            <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#turned_in" data-toggle="tab">
                                            <i class="material-icons">turned_in</i> Turned-In
                                            <div class="ripple-container"></div>
                                            <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#missed" data-toggle="tab">
                                            <i class="material-icons">assignment</i> All
                                            <div class="ripple-container"></div>
                                            <div class="ripple-container"></div></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="tab-content">

                            <div class="tab-pane active show" id="pending">
                                <table class="table">
                                    <thead>
                                        <tr>
                                           <th>Course</th>
                                           <th>Title</th>
                                           <th>Due</th>
                                           <th>Time</th>
                                           <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="font-weight-bolder">
                                    {% if assessment_len > 0 %}
                                        {% for assessment in assessments %}
                                            {% if not assessment.id in sitting_list and assessment.status != 0 %}
                                                <tr>
                                                    <td class="card-title font-weight-bolder">{{ assessment.course_title }}</td>
                                                    <td class="card-title font-weight-bolder">{{ assessment.assessment_title }}</td>
                                                    <td>{{ assessment.date_due }}</td>
                                                    <td>{{ assessment.time_due }}</td>
                                                    <td><a href="{% url 'new_sitting' assessment.id %}" class="btn btn-success">Do it!</a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="form-group col-6 " style="font-size: 16pt">
                                            <span class="font-italic text-secondary">No pending assessment. For now!</span><br>
                                        </div>
                                    {% endif %}

                            </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="turned_in">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Course</th>
                                            <th>Title</th>
                                            <th>Turned-In</th>
                                            <th>Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody class="font-weight-bolder">
                                    {% if assessment_len > 0 %}
                                        {% for assessment in assessments %}
                                            {% if assessment.id in sitting_list %}
                                                <tr>
                                                    <td class="card-title font-weight-bolder">{{ assessment.course_title }}</td>
                                                    <td class="card-title font-weight-bolder">{{ assessment.assessment_title }}</td>
                                                    <td>{{ assessment.date_due }}</td>
                                                    <td>{{ assessment.time_due }}</td>
                                                    <td><a href="#" class="btn btn-success">View</a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="form-group col-6 " style="font-size: 16pt">
                                            <span class="font-italic text-secondary">No pending assessment. For now!</span><br>
                                        </div>
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="missed">

                                <table class="table">

                                    <thead>

                                        <tr>
                                            <th>Course</th>
                                            <th>Title</th>
                                            <th>Due</th>
                                            <th>Time</th>
                                            <th>Action</th>
                                        </tr>

                                    </thead>

                                    <tbody>

                                    {% if assessment_len > 0 %}
                                        {% for assessment in assessments %}
                                            <tr>
                                                <td class="card-title font-weight-bolder">{{ assessment.course_title }}</td>
                                                <td class="card-title font-weight-bolder">{{ assessment.assessment_title }}</td>
                                                <td>{{ assessment.date_due }}</td>
                                                <td>{{ assessment.time_due }}</td>
                                                <td><a href="#" class="btn btn-success">View</a></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <div class="form-group col-6 " style="font-size: 16pt">
                                            <span class="font-italic text-secondary">No pending assessment. For now!</span><br>
                                        </div>
                                    {% endif %}

                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="card-img-top justify-content-around">
                                    {% load static %} <img src="{% static 'img/faces/face-0.jpg' %}" alt="lms_app user"
                                                           style="border-radius: 100px; width: 200px; height: 200px;">
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="card-title font-weight-bolder text-secondary">FULL NAME</h6>
                                <h5 class="card-title font-weight-bolder text-success">{{ student.first_name }} {{ student.last_name }}</h5> <br>

                                <h6 class="card-title font-weight-bolder text-secondary">REG. NO.</h6>
                                <h5 class="card-title font-weight-bolder text-success">{{ student.registration_number }}</h5><br>

                                <h6 class="card-title font-weight-bolder text-secondary">COURSES</h6>
                                <h5 class="card-title font-weight-bolder text-success">{{ enrollment_len }} Courses</h5><br>
                            </div>
                        </div>

                        <div class="card-footer border-top">
                            <div class="stats">
                                <i class="material-icons"></i>
                                <a href="#" class="text-dark">Last Login: {{ last_login }} </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}