{% extends 'dashbase.html' %}
{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>
                                Successfully Submitted!
                            </strong>
                            <br>
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row">

            <div class="">
                <h5 class="text-warning">Pending (Not Turned in yet.)</h5>
                <div class="card-deck" id="pending_to_do_list">

                </div>

            </div>

        </div>

        <div class="row mt-5">

            <div class="">

                <h5 class="text-success">Submitted (Turned in.)</h5>
                <div class="card-deck" id="turned_in_to_do_list">
                </div>

            </div>

        </div>
    </div>

{% endblock %}