{% extends 'dashbase.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <div class="card-title font-weight-bolder">
                        List of all Questions
                        <i onclick="question_listing()" class="material-icons float-right refresh_button" >refresh</i>
                    </div>
                    <div class="card-category">This are list for all Questions for the selected Assessment.
                        The refresh button updates all questions which may be added.</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-success text-center">
                                <tr>
                                    <th>S/N</th>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Mark</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            {% if "some" in list_all %}
                                <tbody id="particular_question_list_body" class="text-center">

                                </tbody>
                            {% elif "all" in list_all %}
                                <tbody id="question_list_body" class="text-center">

                                </tbody>
                            {% endif %}

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}