{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Create a Question</h3>
                    </div>

                    <div class="card-body">
                        <form method="post" action="{% url 'set_question' assessment.id %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="assessment_id" class="form-check-label">Assessment Title</label>
                                <select name="assessment_id" class="form-control" id="assessment_id" required>
                                        <option value="{{ assessment.id }}">{{ assessment.assessment_title }} ({{ assessment.course_title }})</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="question_title" class="form-check-label">Question Title</label>
                                <input name="question_title" class="form-control" id="question_title" required>
                                <p id="question_title_validate" style="color: red; font-size: 10pt;" >
                                    **The question title is missing...
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="question_content" class="form-check-label">Question Content</label>
                                <textarea name="question_content" class="form-control" id="question_content" required></textarea>
                                <p id="question_content_validate" style="color: red; font-size: 10pt;" >
                                    **There is no question here...
                                </p>
                            </div>


                            <div class="form-group">
                                <label for="choice1" class="form-check-label">Choice 1</label>
                                <textarea name="choice1" class="form-control" id="choice1" required></textarea>
                                <p id="choice1_validate" style="color: red; font-size: 10pt;" >
                                    **The first option is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="choice2" class="form-check-label">Choice 2</label>
                                <textarea name="choice2" class="form-control" id="choice2"></textarea>
                                <p id="choice2_validate" style="color: red; font-size: 10pt;" >
                                    **The second option is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="choice3" class="form-check-label">Choice 3</label>
                                <textarea name="choice3" class="form-control" id="choice3" required></textarea>
                                <p id="choice3_validate" style="color: red; font-size: 10pt;" >
                                    **The third option is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="choice4" class="form-check-label">Choice 4</label>
                                <input name="choice4" class="form-control" id="choice4" required>
                                <p id="choice4_validate" style="color: red; font-size: 10pt;" >
                                    **The fourth option is missing
                                </p>

                            </div>

                            <div class="form-group">
                                <label for="answer" class="form-check-label">Answer</label>
                                <input name="answer" class="form-control" id="answer" required>
                                <p id="answer_validate" style="color: red; font-size: 10pt;" >
                                    **The above field is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="assigned_mark" class="form-check-label">Assigned Mark</label>
                                <input name="assigned_mark" class="form-control" id="assigned_mark" type="number" required>
                                <p id="assigned_mark_validate" style="color: red; font-size: 10pt;" >
                                    **You have not assigned a grade yet...
                                </p>
                            </div>


                            <div class="form-group float-xl-right">
                                <button type="submit" class="btn btn-success" name="submit" value="Save">Save</button>
                                <button type="submit" class="btn btn-success" name="submit" value="AddMore">Save and Add More</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}