<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="text-center">WElCOME</h2>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-secondary" onclick="">Goto question</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" id="ques">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>