{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="card">

                    <div class="card-body">
                        <form method="post" action="{% url 'new_sitting' assessment_id %}">
                            {% csrf_token %}
                        {% for question in question_list %}
                            <div class="form-group">
                                <h5>{{ question.question_title }}</h5>
                                <p>{{ question.question_content }}</p>
                            </div>


                            <div class="form-group">
                                <input type="radio" name={{ question.id }} class="custom-radio" value="choice1"
                                        > {{ question.choice1 }}
                            </div>

                            <div class="form-group">
                                <input type="radio" name={{ question.id }} class="custom-radio" value="choice2"
                                        > {{ question.choice2 }}
                            </div>

                            <div class="form-group">
                                <input type="radio" name={{ question.id }} class="custom-radio" value="choice3"
                                        > {{ question.choice3 }}
                            </div>

                            <div class="form-group">
                                <input type="radio" name={{ question.id }} class="custom-radio" value="choice4"
                                        > {{ question.choice4 }}
                            </div>

                            <br>
                        {% endfor %}

                        <div class="form-group float-xl-right">
                            <button type="submit" class="btn btn-success" name="submit" value="Submit">Submit Assessment</button>


                            <!--Modal for Tutor Application-->
                            <div class="modal fade" id="apply{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Assessment Submission</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                <span>Are you sure you want to submit now?<br>
                                                By submitting, you won't be able to change your answers. Do
                                                    still want to continue?
                                                </span>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--End of Modal-->

                        </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}