{% extends 'base.html' %}
{% block content %}

    <section class="mt-5">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-sm mt-5">
                    <div class="container text-center">
                        <h3 class="text-success font-weight-bold text-uppercase text-center">{{ assessment.course_title }} Assessment</h3>

                        <div class="form-group text-center" style="font-size: 34pt">
                            <span class="font-weight-lighter ml-1">{{ assessment.assessment_title }}</span>
                        </div>

                        <div class="form-group text-center" style="font-size: 20pt">
                            <span class="font-weight-lighter">{{ assessment.assessment_content }}</span>
                        </div>

                        <div class="form-group" style="font-size: 16pt">
                            {% if user_grade.late_submission == 1 %}
                                <label for="first_name" style="font-size: 14pt"
                                       class="form-check-label font-weight-bolder text-uppercase text-dark">
                                    Submitted: <span class="text-danger">Late Submission</span> </label><br>
                            {% else %}
                                <label for="first_name" style="font-size: 14pt"
                                       class="form-check-label font-weight-bolder text-uppercase text-dark">
                                    Submitted: <span class="text-success">On Time</span> </label><br>
                            {% endif %}
                            <span class="font-italic ml-1">{{ sitting.date_submitted }} | {{ sitting.time_submitted }}</span>
                        </div>


                        <div class="form-group" style="font-size: 16pt">
                            <label for="" style="font-size: 14pt"
                                   class="form-check-label font-weight-bolder text-uppercase text-dark"> Score Obtainable: </label><br>
                            <span class="font-italic ml-1">{{ assessment.total_score }} marks</span>
                        </div>

                        <div class="form-group" style="font-size: 16pt">
                            <label for="" style="font-size: 14pt"
                                   class="form-check-label font-weight-bolder text-uppercase text-dark">Score Obtained: </label><br>
                            <span class="font-italic ml-1">{{ user_grade.user_grade }} marks ( {% if user_grade.failed == 1 %}<span class="text-danger font-weight-bold">FAILED</span>{% else %}<span class="text-success font-weight-bold">PASSED</span>{% endif %} )</span>
                        </div>
                    </div>

                </div>



                <div class="col-sm mt-5">

                            {% for question in questions %}
                                {% for qns, ans in user_choice.items %}
                                    {% if question.id == qns|add:"0" %}
                                        <div class="">

                                            <h3 class="text-success font-weight-bold text-center text-uppercase">Questions Answered</h3>

                                            <div class="form-group text-center" style="font-size: 20pt">
                                                <span class="font-weight-light text-center">{{ question.question_title }}</span> <span class="font-italic ml-1" style="font-size: 14pt">{{ question.assigned_mark }} marks</span>
                                            </div>

                                            <div class="form-group text-center" style="font-size: 16pt">
                                                <span class="font-weight-light" style="padding-right: 50px">{{ question.question_content }}</span>
                                            </div>

                                            <div class="row justify-content-around">
                                                <div class="form-group col-9 " style="font-size: 16pt" data-toggle="buttons">
                                                    <label for="first_name" style="font-size: 14pt"
                                                           class="form-check-label font-weight-bolder text-uppercase text-dark">Options: </label><br><br>
                                                    <label class="btn btn-lg btn-light btn-block">
                                                        <span class="font-italic" style="padding-right: 50px">  <input type="radio" {% if ans == "'choice1'" %}checked{% else %}disabled{% endif %}>    A. {{ question.choice1 }}</span>{% if question.answer == "choice1" and ans == "'choice1'" %}<span class="font-weight-bold text-light">Correct</span>{% elif question.answer != "choice1" and ans == "'choice1'" %}<span class="font-weight-bold text-danger">Wrong</span>{% endif %}<br>
                                                    </label>

                                                    <label class="btn btn-lg btn-light btn-block">
                                                        <span class="font-italic" style="padding-right: 50px">  <input type="radio" {% if ans == "'choice2'" %}checked{% else %}disabled{% endif %}>    B. {{ question.choice2 }}</span>{% if question.answer == "choice2" and ans == "'choice2'" %}<span class="font-weight-bold text-light">Correct</span>{% elif question.answer != "choice2" and ans == "'choice2'" %}<span class="font-weight-bold text-danger">Wrong</span>{% endif %}<br>
                                                    </label>

                                                    <label class="btn btn-lg btn-light btn-block">
                                                        <span class="font-italic" style="padding-right: 50px">  <input type="radio" {% if ans == "'choice3'" %}checked{% else %}disabled{% endif %}>    C. {{ question.choice3 }}</span>{% if question.answer == "choice3" and ans == "'choice3'" %}<span class="font-weight-bold text-light">Correct</span>{% elif question.answer != "choice3" and ans == "'choice3'" %}<span class="font-weight-bold text-danger">Wrong</span>{% endif %}<br>
                                                    </label>

                                                    <label class="btn btn-lg btn-light btn-block">
                                                        <span class="font-italic" style="padding-right: 50px">  <input type="radio" {% if question.answer == "choice4" %}checked{% else %}disabled{% endif %}>    D. {{ question.choice4 }}</span>{% if question.answer == "choice4" and ans == "'choice4'" %}<span class="font-weight-bold text-light">Correct{% elif question.answer != "choice4" and ans == "'choice4'" %}<span class="font-weight-bold text-danger">Wrong</span>{% endif %}</span><br></label>
                                                </div>
                                            </div>

                                        </div>

                                    {% endif %}
                                {% endfor %}

                            {% endfor %}

                </div>
                <div class="container ">
        <div class="row paginator justify-content-center mt-3">

            {% if questions.has_previous %}
                <a href="?page=1">
                    <button class="btn btn-outline-success"> &laquo;</button>
                </a>
                <a href="?page={{ questions.previous_page_number }}">
                    <button class="btn btn-outline-success ml-1" id="prv">
                        Previous
                    </button>
                </a>
            {% else %}
                <a href="#" class="text-secondary">
                    <button class="btn btn-outline-secondary" disabled="disabled" id="prv">Previous</button>
                </a>
            {% endif %}


            <div class="col-6 text-center">
                {% for i in list_qns %}
                    <a href="?page={{ i }}" class="">
                        <button class="btn btn-outline-success"> {{ i }} </button>
                    </a>
                {% endfor %}
            </div>

            {% if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}">
                    <button class="btn btn-outline-success" id="nxt">
                        Next
                    </button>
                </a>
                <a href="?page={{ questions.paginator.num_pages }}">
                    <button class="btn btn-outline-success ml-1"> &raquo;</button>

                </a>

            {% else %}
                <a href="#"><button class="btn btn-outline-secondary" disabled="disabled" id="nxt">Next</button></a>
            {% endif %}
        </div>
    </div>
            </div>
        </div>
    </section>




    <div>
        <div class="">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-12 justify-content-center">
                        <!-- comments -->
                        <h5 class="ml-3 mt-2 text-secondary">{{ comment_len }} comments</h5>

                        {% for comment in comments %}
                            <div class="comments ml-5" style="padding: 10px;">
                                {% if username == comment.username %}
                                    <p class="font-weight-bold text-success">
                                        {{ comment.username }}
                                        <span class=" text-muted font-weight-normal">{{ comment.date_created }}</span>
                                    </p>
                                {% else %}
                                    <p class="font-weight-bold text-danger">
                                        {{ comment.username }}
                                        <span class=" text-muted font-weight-normal">{{ comment.date_created }}</span>
                                    </p>
                                {% endif %}
                                {{ comment.body | linebreaks }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <form method="post" style="margin-top: 1.3em;" action="{% url 'comment' assessment.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea name="comment_body" class="form-control" id="comment_body" required placeholder="Leave a comment"></textarea>
                            </div>

                            <button type="submit" class="btn btn-success float-right">Comment</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <hr>
    </div>

{% endblock %}