{% extends 'base.html' %}
{% block content %}

    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-success">
                            <h3 class="text-light">Welcome @{{ admin.username }}
                                <a href="{% url 'edit_admin' admin.id %}"
                                   style="font-size: 14pt"
                                   class="float-right text-light form-text " >
                                    {% load static %}<img class="d-block w-100" src="{% static "img/002-pencil.png" %}" alt="Edit"></a> </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="first_name" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">First Name: </label><br>
                                    <span class="font-italic ml-1">{{ admin.first_name }}</span>
                                </div>

                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="first_name" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Last Name: </label><br>
                                    <span class="font-italic ml-1">{{ admin.last_name }}</span>
                                </div>

                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="first_name" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Username: </label><br>
                                    <span class="font-italic ml-1">@{{ admin.username }}</span>
                                </div>


                            </div>

                            <div class="row">

                                <div class="form-group col-6 " style="font-size: 16pt">
                                    <label for="" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Email: </label><br>
                                    <span class="font-italic ml-1">{{ admin.email }}</span>
                                </div>

                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Phone: </label><br>
                                    <span class="font-italic ml-1">+234{{ admin.phone }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <h3 class="text-light">Courses Created ( {{ enrollment_len }} ) <a href="{% url 'list_courses' %}" class="float-right text-success">+</a> </h3>
                        </div>

                        <div class="card-body shadow">
                            <div class="row">

                                {% if enrollment_len > 0 %}
                                    {% for enrollment in enrollments %}
                                        <div class="form-group col-4 " style="font-size: 16pt">
                                            <label for="first_name" style="font-size: 14pt"
                                                   class="form-check-label font-weight-bolder text-uppercase text-dark">{{ enrollment.course_title }}</label><br>
                                            <span class="font-italic ">{{ enrollment.course_description }}</span><br>
                                            <span class="text-secondary">Enrolled <b class="text-dark">{{ enrollment.date_enrolled }}</b></span><br>
                                            <span class="text-dark unenroll_demo" style="font-size: 12pt"><a href="{% url 'unenroll' enrollment.id %}">Un-enroll</a></span>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group col-6 " style="font-size: 16pt">
                                        <span class="font-italic text-secondary">You are not enrolled for a course yet!</span><br>
                                        <a href="{% url 'list_courses' %}" ><span class="font-italic ml-1">Enroll Now</span></a>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}