{% extends 'dashbase.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_box</i>
                        </div>

                        <p class="card-category">Students</p>
                        <h3 class="card-title" id="student_counts"></h3>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">account_circle</i>
                            <a href="{% url 'list_student' %}" class="text-danger">View Students...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">turned_in</i>
                        </div>

                        <p class="card-category">Tutors</p>
                        <h3 class="card-title" id="tutor_counts"></h3>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">check_circle</i>
                            <a href="{% url 'list_tutor' %}" class="text-dark">View Tutors</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">class</i>
                        </div>

                        <p class="card-category">Courses</p>
                        <h3 class="card-title" id="course_counts"></h3>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">dashboard_customize</i>
                            <a href="{% url 'list_courses' %}" class="text-dark"> Add more...</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">library_books</i>
                        </div>

                        <p class="card-category">Assessments</p>
                        <h3 class="card-title" id="assessment_counts"></h3>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-primary">stream</i>
                            <a href="{% url 'list_assessment' %}" class="text-dark">View Assessment</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">

                <div class="card">
                    <div class="card-header card-header-tabs card-header-success">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active show" href="#appointments" data-toggle="tab">
                                            <i class="material-icons">assignment</i> Appointments
                                            <div class="ripple-container"></div>
                                            <div class="ripple-container"></div></a>
                                    </li>

{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link show" href="#enrolled" data-toggle="tab">#}
{#                                            <i class="material-icons">assignment</i> Enrolled#}
{#                                            <div class="ripple-container"></div>#}
{#                                            <div class="ripple-container"></div></a>#}
{#                                    </li>#}

                                    <li class="nav-item">
                                        <a class="nav-link" href="#in_active" data-toggle="tab">
                                            <i class="material-icons">pending</i> In-active Assessments
                                            <div class="ripple-container"></div>
                                            <div class="ripple-container"></div></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="tab-content">

                            <div class="tab-pane active show" id="appointments">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Tutor Reg</th>
                                        <th>Course Title</th>
                                        <th>Date Appointed</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="font-weight-bolder" id="appointment_identifier">
                                    </tbody>
                                </table>
                            </div>

{#                            <div class="tab-pane" id="enrolled">#}
{#                                <table class="table">#}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                        <th>Student</th>#}
{#                                        <th>Title</th>#}
{#                                        <th>Turned-In</th>#}
{#                                        <th>Time</th>#}
{#                                        <th>Action</th>#}
{#                                    </tr>#}
{#                                    </thead>#}
{##}
{#                                    <tbody class="font-weight-bolder" id="enrollment_body">#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}

                            <div class="tab-pane" id="in_active">

                                <table class="table">

                                    <thead>

                                    <tr>
                                        <th>Title</th>
                                        <th>Due</th>
                                        <th>Time</th>
                                        <th>Action</th>
                                    </tr>

                                    </thead>

                                    <tbody id="inactive_assessment_for_admin">

                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}