{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-form-label-sm mt-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-uppercase text-center">List of Tutors</h3>
                    </div>

                    <div class="card-body">
                        <table class="table table-hover table-responsive">
                            <thead class="text-center">
                            <tr>
                                <th>Full Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Reg No</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            {% for tutor in tutors %}
                                <tbody>
                                <tr>
                                    <td>{{ tutor.first_name }} {{ tutor.last_name }}</td>
                                    <td>{{ tutor.phone }}</td>
                                    <td>{{ tutor.email }}</td>
                                    <td>{{ tutor.registration_number }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-outline-warning btn-sm">Appoint</a>
                                        </div>

                                        <div class="btn-group">
                                            <a href="#" class="btn btn-outline-dark btn-sm">Details</a>
                                        </div>

                                        <div class="btn-group">
                                            <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            {% endfor %}

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}