{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div>
                        {% load static %}<img src="{% static 'img/team/team-3.jpg' %}">
                    </div>
                </div>

                <div class="col-6 mt-4">
                    <div class="card border-0 ">
                        <div class="card-header bg-white">
                            <h3 class="text-center">Tutor Registration</h3>
                        </div>

                        <div class="card-body">
                            <form method="post" action="{% url 'register_tutor' %}" name="tutor_reg">
                                {% csrf_token %}

                                <div class="form-group">
                                    <input name="username" class="form-control" id="username" required>
                                    <small id="user_list" class="form-text" aria-placeholder="Username" hidden>
                                        {{ user_list }}
                                    </small>
                                    <p id="user_check" style="color: red; font-size: 10pt;" >
                                        **Username is missing
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="form-check-label">Email Address</label>
                                    <input name="email" class="form-control" id="email" type="email" required>
                                    <small id="emailvalid" class="form-text text-muted invalid-feedback">
                                        Your email must be a valid email
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="form-check-label">Password</label>
                                    <input name="password" class="form-control" id="password" type="password" required>
                                    <p id="pass_check" style="color: red; font-size: 10pt;">
                                        **Please Fill the password
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="confirm_password" class="form-check-label">Confirm Password</label>
                                    <input name="confirm_password" class="form-control" id="confirm_password" type="password" required>
                                    <p id="confirm_pass_check" style="color: red; font-size: 10pt;">
                                        **Password didn't match
                                    </p>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success" id="submitbtn">Submit</button>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>

            </div>



    </div>
{% endblock %}