{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Teacher Registration</h3>
                    </div>

                    <div class="card-body">
                        <form method="post" action="{% url 'register_tutor' %}" name="tutor_reg">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="first_name" class="form-check-label">First Name </label>
                                <input name="first_name" class="form-control" id="first_name" required>
                                <p id="first_name_check" style="color: red; font-size: 10pt;" >
                                    **First name is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="last_name" class="form-check-label">Last Name </label>
                                <input name="last_name" class="form-control" id="last_name" required>
                                <p id="last_name_check" style="color: red; font-size: 10pt;" >
                                    **Last name is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="username" class="form-check-label">Username </label>
                                <input name="username" class="form-control" id="username" required>
                                <p id="user_check" style="color: red; font-size: 10pt;" >
                                    **Username is missing
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="email" class="form-check-label">Email Address</label>
                                <input name="email" class="form-control" id="email" type="email" required>
                                <small id="emailvalid" class="form-text text-muted invalid-feedback">
                                    Your email must be a valid email
                                </small>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="form-check-label">Telephone</label>
                                <input name="phone" class="form-control" id="phone" type="tel" required>
                            </div>

                            <div class="form-group">
                                <label for="password" class="form-check-label">Password</label>
                                <input name="password" class="form-control" id="password" type="password" required>
                                <p id="pass_check" style="color: red; font-size: 10pt;">
                                    **Please Fill the password
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="confirm_password" class="form-check-label">Confirm Password</label>
                                <input name="confirm_password" class="form-control" id="confirm_password" type="password" required>
                                <p id="confirm_pass_check" style="color: red; font-size: 10pt;">
                                    **Password didn't match
                                </p>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success" id="submitbtn">Submit</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}