{% extends 'dashbase.html' %}
{% block content %}
    <div class="container">
        <div class="float-right">
            <a href="{% url 'list_courses' %}" class="text-dark"> + Apply for a Course</a>
        </div>
        <br>
        {% if appointment_len > 0 %}
                <div class="card-deck ">
                    {% for appointment in appointments %}
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h1 class="h1 font-weight-bolder">{{ appointment.course_title }}</h1>
                            </div>
                            <div class="card-body">
                                <h5 class="card-category">{{ appointment.course_description }}</h5>
                            </div>

                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i>
                                    Appointed: {{ appointment.date_appointed}}
                                </div>
                                <span class="btn btn-success text-dark float-right"><a href="{% url 'course_details' appointment.course_id %}" class="text-light">View</a></span>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>

        {% else %}
            <div class="form-group col-6 " style="font-size: 16pt">
                <span class="font-italic text-secondary">You are not assigned for a course yet!</span><br>
                <a href="{% url 'list_courses' %}" ><span class="font-italic ml-1">Apply Now</span></a>
            </div>
        {% endif %}
    </div>
{% endblock %}