{% extends 'base.html' %}
{% block content %}
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-success shadow">
                            {% if 'tutors' in l_as_list %}
                                <h3 class="text-light">Tutor Details  <a href="{% url 'edit_tutor' tutor.id %}" class="float-right text-light" style="font-size: 12pt">{% load static %}<img class="d-block w-100" src="{% static "img/002-pencil.png" %}" alt="Edit"></a></h3>
                            {% else %}
                                <h5 class="text-light text-uppercase"> Tutor -- {{ tutor.first_name }} {{ tutor.last_name }}</h5>
                            {% endif %}
                        </div>
                        <div class="card-body shadow">
                            <div class="row">
                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="first_name" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">First Name: </label><br>
                                    <span class="font-italic ml-1">{{ tutor.first_name }}</span>
                                </div>

                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="first_name" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Last Name: </label><br>
                                    <span class="font-italic ml-1">{{ tutor.last_name }}</span>
                                </div>

                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="first_name" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Username: </label><br>
                                    <span class="font-italic ml-1">@{{ tutor.username }}</span>
                                </div>


                            </div>

                            <div class="row">
                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Registration Number: </label><br>
                                    <span class="font-italic ml-1">{{ tutor.registration_number }}</span>
                                </div>

                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Email: </label><br>
                                    <span class="font-italic ml-1">{{ tutor.email }}</span>
                                </div>

                                <div class="form-group col-4 " style="font-size: 16pt">
                                    <label for="" style="font-size: 14pt"
                                           class="form-check-label font-weight-bolder text-uppercase text-success">Phone: </label><br>
                                    <span class="font-italic ml-1">+234{{ tutor.phone }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#   Student Courses #}

    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-header bg-dark shadow">
                            <h3 class="text-light">Tutor Courses
                                <span class="badge badge-light text-success font-weight-bolder float-right"
                                      style="font-size: 18pt">{{ appointment_len }}</span> {% if 'tutors' in l_as_list %}<a href="{% url 'list_courses' %}" class="float-right text-success">+</a>{% else %}{% endif %} </h3>
                        </div>

                        <div class="card-body shadow">
                            <div class="row">

                                {% if appointment_len > 0 %}
                                    {% for appointment in appointments %}
                                        <div class="form-group col-6 " style="font-size: 16pt">
                                            <label for="" style="font-size: 14pt"
                                                   class="form-check-label font-weight-bolder text-uppercase text-dark">{{ appointment.course_title }}</label><br>
                                            <p><span class="text-secondary" style="font-size: 12pt">{{ appointment.course_description }}</span></p>
                                            <span class="font-italic text-dark card-link" style="font-size: 12pt"><a href="{% url 'list_student_for_course' appointment.course_id %}" style="font-size: 12pt">View Students</a> </span>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group col-6 " style="font-size: 16pt">
                                        <span class="font-italic text-secondary">You are not assigned for a course yet!</span><br>
                                        <a href="{% url 'list_courses' %}" ><span class="font-italic ml-1">Apply for one</span></a>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Student Assessments#}
    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-success shadow">
                            <h3 class="text-light">Assessments Created
                                <span class="badge badge-light text-success font-weight-bolder float-right"
                                      style="font-size: 18pt">{{ assessment_len }}</span> {% if 'tutors' in l_as_list and appointment_len > 0 %}<a href="{% url 'create_assessment' %}" class="float-right text-light">+</a>{% else %}{% endif %} </h3>
                        </div>
                        <div class="card-body shadow">
                            <div class="row">

                                {% if assessment_len > 0 %}
                                    {% for assessment in assessments %}
                                        <div class="form-group col-3 " style="font-size: 16pt">
                                            <label for="first_name" style="font-size: 14pt"
                                                   class="form-check-label font-weight-bolder text-uppercase text-dark"><a href="{% url 'assessment_details' assessment.id %}" class="alert-link">{{ assessment.course_title }}</a></label><br>
                                            <span class="text-secondary">{{ assessment.assessment_title }}</span><br>
                                            <span class="font-italic text-dark" style="font-size: 12pt">{{ assessment.date_due }} {{ assessment.time_due }}</span><br>
                                            <span class="font-italic text-dark card-link" style="font-size: 12pt"><a href="{% url 'set_question' assessment.id %}" style="font-size: 12pt">Add Questions</a> | <a href="{% url 'list_assessment_question' assessment.id %}" style="font-size: 12pt">View Questions</a></span>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group col-6 " style="font-size: 16pt">
                                        <span class="font-italic text-secondary">No assessment created yet!</span><br>
                                        {% if 'tutors' in l_as_list and appointment_len > 0 %}<a href="{% url 'create_assessment' %}" ><span class="font-italic ml-1">Create one</span></a>{% else %}{% endif %}
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-dark shadow">
                            <h3 class="text-light">Questions Created
                                <span class="badge badge-light text-success font-weight-bolder float-right"
                                      style="font-size: 18pt">{{ question_len }}</span></h3>
                        </div>
                        <div class="card-body shadow">
                            <div class="row">

                                {% if question_len > 0 %}
                                    {% for question in questions %}
                                        <div class="form-group col-3 " style="font-size: 16pt">
                                            <label for="first_name" style="font-size: 14pt"
                                                   class="form-check-label font-weight-bolder text-uppercase text-dark">{{ question.question_title }}</label><br>
                                            <span class="text-secondary font-italic">{{ question.question_content }}</span> --
                                            <span class="text-secondary">{{ question.assigned_mark }} marks</span> <a href="{% url 'question_details' question.id %}" style="font-size: 12pt">View</a><br>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group col-6 " style="font-size: 16pt">
                                        <span class="font-italic text-secondary">You have no question set!</span><br>
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>


    <section>
        <div class="container mt-3 mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-success shadow">
                            <h3 class="text-light">Submitted Assessments
                                <span class="badge badge-light text-success font-weight-bolder float-right"
                                      style="font-size: 18pt"> {{ sitting_len }}</span>
                            </h3>
                        </div>
                        <div class="card-body shadow">
                            <div class="row">

                                {% if sitting_len > 0 %}
                                    {% for sitting in sitting_list %}
                                        <div class="form-group col-3 " style="font-size: 16pt">
                                            <label for="first_name" style="font-size: 14pt" class="form-check-label font-weight-bolder text-uppercase text-dark">{{ sitting.participant_registration_number }}</label><br>
                                            <span class="font-italic text-dark" style="font-size: 12pt">Submitted: {{ sitting.date_submitted }} | {{ sitting.time_submitted }}</span><br>
                                            <span class="text-secondary"></span> <a href="{% url 'sitting_details' sitting.id %}" style="font-size: 12pt">View</a><br>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group col-6 " style="font-size: 16pt">
                                        <span class="font-italic text-secondary">You have no submission yet!</span><br>
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>


{% endblock %}