{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-form-label-sm mt-4">
                <div class="card border-0">
                    <div class="card-header border-0 bg-white">
                        <h3 class="text-uppercase text-center ">{{ course.course_title }} Enrollment List</h3>
                    </div>

                    <div class="card-body">
                        <table class="table table-hover table-responsive text-center">
                            <thead>
                            <tr>
                                <th>Student RegNo</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Date Enrolled</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% for enrollment in enrollments %}
                                <tbody>
                                <tr>
                                    <td>{{ enrollment.student_registration_number }}</td>
                                    <td>    </td>
                                    <td>    </td>
                                    <td>    </td>
                                    <td>{{ enrollment.date_enrolled }}</td>
                                    <td></td>
                                    <td>
                                        {% if 'admin' in l_as_list %}
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-outline-secondary btn-sm">Edit</a>
                                            </div>

                                            <div class="btn-group">
                                                <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                                            </div>

                                            <div class="btn-group">
                                                <a href="#" class="btn btn-outline-dark btn-sm">Details</a>
                                            </div>
                                        {% endif %}





                                    </td>

                                </tr>
                                </tbody>
                            {% endfor %}

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}