{% extends 'base.html' %}
{% block content %}
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card mt-xl-5">
                    <div class="card-body">

                        <form action="{% url 'change_password' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row form-group">
                                <label for="new_password" class="form-check-label">New Password</label>
                                <input name="new_password" class="form-control" id="new_password">
                            </div>

                            <div class="form-row form-group">
                                <label for="confirm_password" class="form-check-label">Confirm New Password</label>
                                <input name="confirm_password" class="form-control" id="confirm_password">
                            </div>

                            <div class="form-row justify-content-center">
                                <button type="submit" class="btn btn-success">Change Password</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}