{% extends 'base.html' %}
{% block content %}
    <section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% load static %}<img class="d-block w-100" src="{% static "img/slide/slide-1.jpg" %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block ">
                    <h1>Welcome to LMS.<br> A learning management system!</h1>
                    <p class="text-light">Get started with us now. <a href="{% url 'register' %}">Get Started</a> </p>
                </div>
            </div>
            <div class="carousel-item">
                {% load static %}<img class="d-block w-100" src="{% static "img/slide/slide-2.jpg" %}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block text-dark">
                    <h1>Welcome to LMS.<br> A learning management system!</h1>
                    <p class="text-light">Get started with us now. <a href="{% url 'register' %}">Get Started</a> </p>
                </div>
            </div>
            <div class="carousel-item">
                {% load static %}<img class="d-block w-100"  src="{% static "img/slide/slide-3.jpg" %}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Welcome to LMS.<br> A learning management system!</h1>
                    <p>Get started with us now. <a href="{% url 'register' %}">Get Started</a> </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </section>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="font-weight-bold text-center" style="font-size: 45pt; font-family: serif;">ABOUT US</h3>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12">
                <p class="text-secondary" style="font-size: 20pt; text-align: justify;">A learning management system (LMS) is an application for e-learning practices and, in its most common
                    form, consists of two elements: a server that performs the base functionality and a user interface
                    that is operated by instructors and students. A learning management system provides an instructor
                    with a way to create and deliver content, monitor student participation and assess student
                    performance.
                    A learning management system may also provide students with the ability to use interactive features
                    (such as threaded discussions, videoconferencing and discussion forums which will be absent
                    in this current project).

                    A learning management system can be thought of as a large repository that allows users to store and
                    track information in one place. Any user with a secure login and password can access the system and
                    its online learning resources.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5></h5>
            </div>

        </div>
    </div>

{% endblock %}