{% extends 'base_2.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row mx-auto my-auto justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-md border-0">
{#                    <div class="card-header bg-success">#}
{#                    </div>#}
                    <div class="card-body ">
                        <div class="login_tab">

                            <div class="row justify-content-center mt-5 mb-4">
                                <a href="{% url 'index' %}" class="btn btn-outline-success btn-lg float-right">
                                    L.M.S</a>
                            </div>

                            <div class="row justify-content-center mb-3">
                                <h2 class="font-weight-light text-center">Sign in to your account</h2>
                            </div>

                            <div class="row font-weight-light mb-3">
                                <p class="font-weight-light text-center">Build qualified students for today, tomorrow, and beyond with
                                    the Education to future-proof their career. </p>
                            </div>

                            <div class="row justify-content-center">
                                <form method="POST" action="{% url 'login_post' %}?next_url={{ next_url }}" id="login_form">
                                    {% csrf_token %}
                                    {% if message %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                    {% endif %}
                                    <div class="form-group">
                                        <input class="form-control course_form_text" name="username" id="username" placeholder="Username">
                                    </div>

                                    <div class="form-group mb-3 justify-content-center">
                                        <input class="form-control course_form_text" name="password" id="password" type="password" placeholder="Password">
                                    </div>

                                    <div class="form-group mt-3 justify-content-around">
                                        <small>By clicking Sign In, you agree to our <a href="#" class="text-success font-weight-bold">
                                            Terms of Use</a> and our <a href="#" class="text-success font-weight-bold">Privacy Policy</a>.</small>

                                    </div>

                                    <div class="form-group mt-3 sign_in_btn">
                                        <button type="submit" class="btn btn-group btn-success">Sign In</button>
                                    </div>
                                </form>
                            </div>

                            <div class="row dont_have_account">
                                <div class="form-group register_in_btn">
                                    <span class="">Don't have an account? </span><a href="{% url 'register' %}" class="text-success font-weight-bold">Register</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
